@import "../../colors";

@width: 380px;
@widthClose: 40px;
@heightHeader: 40px;
@heightBody: 130px;
@heightFooter: 40px;
.WindowChat {
  border-right: 1px solid @root;
  border-left: 1px solid @root;
  border-top: 1px solid @root;
  width: @width;
  margin-right: 5px;
  float: left;
  bottom: 0;

  &.WindowChat_disabled {
    .WindowChat__body_footer, .WindowChat__messages, .WindowChat__body {
      opacity: 0.5;

      input, textarea {
        pointer-events: none;
        background-color: @inputBackgroundColorDisabled !important;
      }
    }
  }

  .WindowChat__messages {
    position: relative;
    width: @width;
    height: calc(100% - @heightBody - @heightHeader - @heightFooter - 2px);
    margin-top: 0;
    background: @c0;
    overflow-y: scroll;

    .WindowChat__messages_message_disabled {
      opacity: 0.5;
    }

    .WindowChat__messages_message {
      position: relative;
      margin-bottom: 5px;
      border-bottom: 1px solid @root;
      height: auto;
      min-height: 50px;
      display: flex;
      align-items: center;
      //padding: 10px;
      font-size: 0.8rem;
      flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;

      .WindowChat__messages_message_body {
        width: 100%;
        display: flex;
      }

      .WindowChat__messages_message_header {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        //margin-bottom: 10px;
        //margin-top: 10px;
        color: @fontColorHeaderMessage;

        .WindowChat__messages_message_header_date {
          flex: 2 5;
          display: flex;
          justify-content: right;
        }

        .WindowChat__messages_message_header_username {
          flex: 3 5;
          display: flex;
          justify-content: left;
        }
      }

    }
  }

  .WindowChat__body_footer {
    position: relative;
    width: @width;
    height: @heightFooter;
    margin-top: 0;
    background: @c0;
    border-top: 1px solid @root;
    font-size: 0.8rem;
    display: flex;
    justify-content: end;

    button {
      background-color: @diffColor; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
    }
  }

  .WindowChat__body {
    position: relative;
    width: @width;
    height: @heightBody;
    margin-top: 0;
    background: @inputBackgroundColor;
    border-top: 1px solid @root;
    font-size: 0.8rem;
    display: flex;

    textarea {
      width: 100%;
      height: auto;
      background: @inputBackgroundColor;
      border: none;
      padding: 0;
      margin: 0;
      overflow: auto;
      outline: none;
      resize: none;
      font-size: 0.8rem;
      padding: 10px;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .WindowChat__header {
    position: relative;
    display: flex;
    width: @width;
    height: @heightHeader;
    margin-top: 0;
    background: @root;
    overflow: hidden;

    .WindowChat__header__username {
      padding: 12px 12px 12px 11px;
      flex: 3;
      font-weight: bold;
      font-size: 0.9em;
      float: left;
    }

    .WindowChat__header__close {
      background: @diffColor;
      width: @widthClose;
      height: @widthClose;
      float: right;
      cursor: pointer;

      &:hover {
        background: @diffColorDark;
      }
    }
  }
}